body{
    font-family: 'Plus Jakarta Sans', sans-serif;
    margin: 0;
}
.child_wraper_container{
    width: 1350px;
    margin-left: 50px;
}
/* main page start */
.main_container{
    display: flex;
}
.dashboard_manu{
    flex: 0 0 16%;
    width: 100%;
    height: 2600px;
    background-color: #001918;
}
.dashboard_page{
    flex: 0 0 84%;
    background-color: #F3F3F3;
}



/* navbar aria*/
.main_logo{
    margin-left: 5%;
}
.navbar_aria{
    margin-left: 10%;
}
.navbar_aria h3{
    color:  #A0B6C0;
    font-size: 12px;
    font-weight: 500;
    text-transform: uppercase;
}

.navbar_aria ul li svg{
    color: #AFBBBB;
    font-size: 22px;
    line-height: 22px;
    font-weight: 900;
}
.navbar_aria ul li {
	width: 90%;
	list-style-type: none;
	padding: 10px 8px;
	background-color: transparent;
	border-radius: 8px;
	margin: 5px 0px;
	margin-left: -33px;
}
.navbar_aria ul li a{
    color: #ffffff;
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
    text-decoration: none;
    margin-left: 10px;
}
.navbar_aria ul li:hover{
    background-color: #05634B;
}


.line {
	width: 100%;
	height: 1px;
	background-color: gray;
	margin-top: 20px;
    margin-bottom: 20px;
}

.last_dashboard_manu {
	background-color: #E0F4EF;
	width: 70%;
	height: 200px;
	text-align: center;
	margin-left: 42px;
	margin-top: 150px;
	border-radius: 8px;
    position: relative;
}
.tik_mark {
    position: absolute;
	background-color: #009975;
	width: 25%;
	height: 25%;
	border-radius: 50%;
	margin-left: 37%;
	margin-top: -13%;
    
}
.tik_mark svg {
	color: #fff;
	font-size: 23px;
	font-weight: 800;
	margin-top: 6px;
	padding: 7px;
	background: #046A50;
	border-radius: 50%;
}
.last_dashboard_manu p {
	color: #111313;
	font-size: 16px;
	line-height: 24px;
	font-weight: 400;
	padding-top: 50px;
	width: 150px;
	margin-left: 25px;
}
.d_button{
    margin-top: -170px;
}
.d_button a {
	color: #fff;
	font-size: 16px;
	line-height: 24;
	font-weight: 400;
	text-decoration: none;
	padding: 11px 21px;
	background-color: #009975;
	border-radius: 5px;
}



/*Dashboard page start*/

.top_aria{
    display: flex;
    justify-content: space-between;
}
.top_text h3{
    color: #111313;
    font-size: 26px;
    line-height: 31.2px;
    font-weight: 700;
}
.top_profile{
    display: flex;
}
.top_profile_bell svg{
    color: #000;
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
    padding: 10px;
    border-radius: 50%;
    background-color: #fff;
    margin-top: 8px;
    margin-left: -60px;
}
.top_profile_pic img{
    width: 40px;
    margin-top: 8px;
}
/*child div*/
.main_child_div{
    display: flex;
    width: 980px;
    justify-content: space-between;
}
.child_div1{
    flex: 0 0 21%;
    background-color: #fff;
    padding-top: 10px;
    padding-left: 15px;
    padding-bottom: 5px;
    border-radius: 8px;
}
.child1_button{
    margin-top: 10px;
}
.child1_button a{
    color: #fff;
    font-size: 12px;
    line-height: 18px;
    font-weight: 400;
    padding: 8px 10px;
    background-color: #009975;
    text-decoration: none;
    border-radius: 5px;
}
.child_div1 h3 {
	color: #232626;
	font-size: 25px;
	line-height: 30px;
	font-weight: 700;
	margin-top: 41px;
}
.child_div1 p {
	color: #687371;
	font-size: 14px;
	font-weight: 400;
	margin-top: -20px;
}
.child_div1:hover{
    border: 1px solid #009975;

}

/*2.3.4 child*/
.child_div{
    flex: 0 0 21%;
    background-color: #fff;
    padding-top: 10px;
    padding-left: 15px;
    padding-bottom: 5px;
    border-radius: 8px;
}
.child_button{
    margin-top: 10px;
}
.child_button a{
    color: #687371;
    font-size: 12px;
    line-height: 18px;
    font-weight: 400;
    padding: 8px 10px;
    background-color: #EFF2F1;
    text-decoration: none;
    border-radius: 5px;
}
.child_div h3 {
	color: #232626;
	font-size: 25px;
	line-height: 30px;
	font-weight: 700;
	margin-top: 41px;
}
.child_div p {
	color: #D6E0DE;
	font-size: 14px;
	font-weight: 400;
	margin-top: -20px;
}

.child_div svg{
    color: gray;
    font-size: 18px;
    line-height: 18px;
    font-weight: 800;
    padding: 12px;
    border-radius: 50%;
    background-color: #9BA8A5;
}
.child_div h5 {
	color: #212529;
	font-size: 16px;
	font-weight: 400;
	margin-top: 91px;
}
.child_div:hover{
    border: 1px solid #009975;

}


/* dabit card ar kaj */
.main_card_div{
    display: flex;
    justify-content: space-between;
    margin-top: 25px;
}
.child_card_div1{
    flex: 0 0 48%;
    background-color: #FFFFFF;
    border-radius: 10px;
    padding: 20px 20px;
}
.child_card{
    display: flex;
}
.blance{
    flex: 0 0 48%;
    margin-top: -35px;
}

.blance h5{
    color:#232626;
    font-size: 16px;
    line-height: 24px;
    font-weight: 500;
    
}
.blance h2{
    color:#111313;
    font-size: 30px;
    line-height: 36px;
    font-weight: 700;
    margin-top: -15px;
}
.blance p{
    color: #c1c7c6;
    font-size: 12px;
    line-height: 18px;
    font-weight: 400;
    margin-top: -15px;
}
.card_button_div{
    display: flex;
}
.card_button1{
    margin: 15px 10px;
    margin-left: -1px;
}
.card_button1 a{
    text-decoration: none;
    padding: 12px 35px;
    background-color: #009975;
    border-radius: 5px;
    color: #fff;
    font-size: 16px;
    font-weight: 400;
}
.card_button2{
    margin: 15px 10px;
    margin-left: -1px;
}
.card_button2 a{
    text-decoration: none;
    padding: 12px 35px;
    background-color: #EFF2F1;
    border-radius: 5px;
    color: #111313;
    font-size: 16px;
    font-weight: 400;
    transition: .3s;
}
.card_button2 a:hover{
    background-color: #009975;
    transition: .3s;
}
/***card ***/
.card{
    flex: 0 0 48%;
    padding: 15px;
    background-color: #232626;
    height: 15x;
    border-radius: 8px;
}
.master_card_usarname{
    display: flex;
}
.master_cared_user h5{
    color: #fff;
    font-size: 20px;
    line-height: 24px;
    font-weight: 700;
    margin-top: -0px;
}
.master_card_circle{
   margin-left: 133px;
}
.card h3 {
	color: #fff;
	font-size: 14px;
	line-height: 16.8px;
	font-weight: 700;
	margin-top: -15px;
}
.master_card_datetime{
    display: flex;
    justify-content: space-between;
}
.master_card_namedate span{
    color: #fff;
    font-size: 10px;
    line-height: 15px;
    font-weight: 400;
}
.master_card_namedate p{
    color: #fff;
    font-size: 12px;
    line-height: 18px;
    font-weight: 700;
}
.master_card_dabit p {
	color: #2ED6AE;
	font-size: 14px;
	line-height: 21px;
	font-weight: 600;
	margin-top: 24px;
}
/***card end***/
.child_card_div2{
    flex: 0 0 20%;
    text-align: center;
    background-color: #F7EAE1;
    padding: 20px 20px;
    border-radius: 8px;
}
.child_card_div2 svg{
    color: #fff;
    font-size: 18px;
    line-height: 18px;
    font-weight: 800;
    padding: 14px 15px;
    border-radius: 50%;
    background-color: #FB6514;
}
.child_card_div2 p {
	color: #111313;
	font-size: 14px;
	line-height: 21px;
	font-weight: 400;
	width: 155px;
	margin-left: 57px;
}
.child_card_div2 a{
    color: #111313;
    font-size: 16px;
	line-height: 24px;
	font-weight: 500;
}
.ankor{
    margin-top: 20px;
}
.ankor a {
	text-decoration: none;
	color: #FB6514;
	font-size: 14px;
	line-height: 21px;
	font-weight: 400;
	padding: 12px 58px;
	background-color: #fff;
	border-radius: 8px;
}

.child_card_div3{
    flex: 0 0 20%;
    text-align: center;
    background-color: #EFF2F1;
    padding: 20px 20px;
    border-radius: 8px;
    border: 1px solid rgb(224, 219, 219);
}
.child_card_div3 svg{
    color: #9BA8A5;
    font-size: 18px;
    line-height: 18px;
    font-weight: 800;
    padding: 13px 14px;
    border-radius: 50%;
    background-color: #d6dad9;
    margin-top: 30px;
}
.child_card_div3 a {
	text-decoration: none;
	color: #687371;
	line-height: 88px;
	font-size: 16px;
	font-weight: 400;
}


/*warking capital start */
.warking_main_div{
    display: flex;
    justify-content: space-between;
    margin-top: 70px;
}
.warking_left{
    flex: 0 0 72.5%;
}

.chart{
    margin-top: 30px;
}
.chart img{
    width: 980px;
    height: 300px;
}

.warking_right{
    flex: 0 0 22%;
    background-color: #fff;
    border-radius: 8px;
    padding: 20px;
}
.main_working_div{
    text-align: center;
    position: relative;
}
.main_working_div::after{
    content: "";
    position: absolute;
    width: 100%;
    background-color: #afafaf;
    height: 2px;
    top: 200px;
    left: 0;
}

.blank_card {
	width: 100%;
	
	background-color: #EFF2F1;
	border: 1px solid #ccc9c9;
	margin-top: 80px;
    border-radius: 8px;
    padding: 30px 0px;
}
.blank_card p{
    color: #454D4B;
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
    width: 300px;
    position: relative;
}
.blank_card p::after {
	position: absolute;
	content: "";
	width: 100%;
	height: 1.5px;
	background-color: #ccc9c9;
	bottom: -24px;
	left: 0;
}
.blank_card_button{
    margin-top: 45px;
}
.blank_card_button a{
    text-decoration: none;
    color: #232626    ;
    font-size: 16px;
    line-height: 24px;
    font-weight: 500;
    padding: 25px 0px;
}

/** card 2*/
.main_card_div2{
    margin-top: 80px;
}
.main_card_div2_text{
    margin-top: 30px;
}
.main_card_div2_text a{
    text-decoration: none;
    color: #009975;
    font-size: 16px;
    line-height: 24px;
    font-weight: 500;
}


/*transaction*/
.main_trasaction_div{
    margin-top: 70px;
    width: 95.5%;
    background-color: #fff;
    padding: 30px;
    border-radius: 8px;
}
.transaction_heding_aria{
    display: flex;
    justify-content: space-between;
}
.home_transaction_hedding h3{
    color:  #111313;
    font-size: 22px;
    line-height: 26.4px;
    font-weight: 700;
    margin-top: -5px;
}
.home_transaction_viewall a{
    color: #687371;
    font-size: 16px;
    line-height: 24px;
    font-weight: 500;
    text-decoration: none;
}
.main_trasaction_div{
    color:  #687371    ;
    font-size: 14px;
    line-height: 21px;
    font-weight: 400;
}

/*today start*/
.hone_tran_today_itms{
    display: flex;
    justify-content: space-between;
}
.hone_tran_today_itms{
    margin-top: 30px;
}
.hone_tran_today_itms_left{
    display: flex;
}
.hone_tran_today_itms_left_icon svg{
    color:  #009975;
    font-size: 22px;
    line-height: 22px;
    font-weight: 800 ;
    padding: 12px 14px;
    border-radius: 50%;
    background-color: #F7F9F8;
    transform: rotate(180deg);
    margin-top: 5px;
}
.hone_tran_today_itms_left_text h3 {
	color: #111313;
	font-size: 16px;
	line-height: 19.2px;
	font-weight: 400;
	margin-left: 20px;
	margin-top: 3px;
}
.hone_tran_today_itms_left_text p {
	color: #687371;
	font-size: 12px;
	line-height: 18px;
	font-weight: 400;
	margin-left: 20px;
	margin-top: -9px;
}

.hone_tran_today_itms_right p{
    color: #687371;
	font-size: 14px;
	line-height: 21px;
	font-weight: 400;
}
.hone_tran_today_itms{
    position: relative;
}
.hone_tran_today_itms::after{
    position: absolute;
    content: "";
    width: 100%;
    height: 1px;
    background-color: #d5d6d6;
    top: 70px;
}
/* 4 today */
.hone_tran_today_itms4{
    margin-top: 30px;
    display: flex;
    justify-content: space-between;
}
.hone_tran_today_itms_left4{
    display: flex;
}
.hone_tran_today_itms_left_icon4 svg{
    color:  #C0C0C0;
    font-size: 22px;
    line-height: 22px;
    font-weight: 800 ;
    padding: 12px 14px;
    border-radius: 50%;
    background-color: #F7F9F8;
    transform: rotate(180deg);
    margin-top: 5px;
}
.hone_tran_today_itms_left_text4 h3 {
	color: #C0C0C0;
	font-size: 16px;
	line-height: 19.2px;
	font-weight: 400;
	margin-left: 20px;
	margin-top: 3px;
}
.hone_tran_today_itms_left_text4 p {
	color: #C0C0C0;
	font-size: 12px;
	line-height: 18px;
	font-weight: 400;
	margin-left: 20px;
	margin-top: -9px;
}

.hone_tran_today_itms_right4 p{
    color: #C0C0C0;
	font-size: 14px;
	line-height: 21px;
	font-weight: 400;
}
.hone_tran_today_itms4{
    position: relative;
}
.hone_tran_today_itms4::after{
    position: absolute;
    content: "";
    width: 100%;
    height: 1px;
    background-color: #d5d6d6;
    top: 70px;
}


/*yasterday start */

.hone_tran_today_itms5{
    display: flex;
    justify-content: space-between;
}
.hone_tran_today_itms5{
    margin-top: 30px;
}
.hone_tran_today_itms_left5{
    display: flex;
}
.hone_tran_today_itms_left_icon5 svg{
    color:  #FF6161;
    font-size: 22px;
    line-height: 22px;
    font-weight: 800 ;
    padding: 12px 14px;
    border-radius: 50%;
    background-color: #FFEFEF;
    margin-top: 5px;
}
.hone_tran_today_itms_left_text5 h3 {
	color: #111313;
	font-size: 16px;
	line-height: 19.2px;
	font-weight: 400;
	margin-left: 20px;
	margin-top: 3px;
}
.hone_tran_today_itms_left_text5 p {
	color: #687371;
	font-size: 12px;
	line-height: 18px;
	font-weight: 400;
	margin-left: 20px;
	margin-top: -9px;
}

.hone_tran_today_itms_right5 p{
    color: #687371;
	font-size: 14px;
	line-height: 21px;
	font-weight: 400;
}
.hone_tran_today_itms5{
    position: relative;
}
.hone_tran_today_itms5::after{
    position: absolute;
    content: "";
    width: 100%;
    height: 1px;
    background-color: #d5d6d6;
    top: 70px;
}

/*2*/
.hone_tran_today_itms6{
    display: flex;
    justify-content: space-between;
}
.hone_tran_today_itms6{
    margin-top: 30px;
}
.hone_tran_today_itms_left6{
    display: flex;
}
.hone_tran_today_itms_left_icon6 svg{
    color:  #FF6161;
    font-size: 22px;
    line-height: 22px;
    font-weight: 800 ;
    padding: 12px 14px;
    border-radius: 50%;
    background-color: #FFEFEF;
    margin-top: 5px;
}
.hone_tran_today_itms_left_text6 h3 {
	color: #111313;
	font-size: 16px;
	line-height: 19.2px;
	font-weight: 400;
	margin-left: 20px;
	margin-top: 3px;
}
.hone_tran_today_itms_left_text6 p {
	color: #687371;
	font-size: 12px;
	line-height: 18px;
	font-weight: 400;
	margin-left: 20px;
	margin-top: -9px;
}

.hone_tran_today_itms_right6 p{
    color: #687371;
	font-size: 14px;
	line-height: 21px;
	font-weight: 400;
}





/*this is my transaction css start*/
/*this is my transaction css start*/
/*this is my transaction css start*/
/*this is my transaction css start*/
.dashboard2{
    height: 1100px;
}
.main_div2{
    margin-top: -5px;
}

.transaction_heding_aria2{
    display: flex;
    justify-content: space-between;
    position: relative;
}
.transaction_heding_aria2_left{
    display: flex;

}

.transaction_heding_aria2_left_child1 a{
    color: #009975;
    font-size: 16px;
    line-height: 24px;
    font-weight: 500;
    text-decoration: none;
    position: relative;
}
.transaction_heding_aria2_left_child1 a::after {
	position: absolute;
	content: "";
	width: 100%;
	height: 1.5px;
	background-color: #009975;
	left: 0;
	bottom: -10px;
}

.transaction_heding_aria2_left_child2{
    margin-left: 30px;
}
.transaction_heding_aria2_left_child2 a{
    color: #687371;
    font-size: 16px;
    line-height: 24px;
    font-weight: 500;
    text-decoration: none;
    position: relative;
}
.transaction_heding_aria2_right img {
	width: 26px;
}
.transaction_heding_aria2_right span{
    color: #687371;
    font-size: 16px;
    line-height: 24px;
    font-weight: 500;
}
.transaction_heding_aria2::after{
    position: absolute;
    content: "";
    width: 100%;
    height: 1px;
    background-color: gray;
    bottom: -9px;
}
/*.transaction_heding_aria2_left_child2 a::after {
	position: absolute;
	content: "";
	width: 100%;
	height: 1.5px;
	background-color: #687371;
	left: 0;
	bottom: -10px;
}
*/
.transaction_heding_aria2_left_child2 :hover,
.transaction_heding_aria2_left_child2 a::after{
    color: #009975;
}

/*paganation start */
.pagination_aria {
	margin-top: 60px;
	margin-left: 845px;
}
.pagination_aria ul{
    display: flex;
}
.pagination_aria ul li{
    list-style-type: none;
    margin-left: 10px;
}
.pagination_aria ul li a{
    color:  #454D4B;
    font-size: 18px;
    line-height: 27px;
    font-weight: 400;
    text-decoration: none;
    padding: 15px;
    border-radius: 8px;
}
.pagination_aria ul li a svg{
    font-weight: 800;
}
.pagination_aria ul li a:hover{
    background-color: #E0F4EF;
}
.masud a{
    color: #454D4B;
    font-size: 18px;
    line-height: 27px;
    font-weight: 400; 
    text-decoration: none;
    padding: 15px;
    border-radius: 8px;
    background-color: #E0F4EF;
}




/*this is my invoices css start*/
/*this is my invoices css start*/
/*this is my invoices css start*/
/*this is my invoices css start*/

.binifin_aria_main_wraper{
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
}
.benifin_charc_content {
	display: flex;
	margin-left: 797px;
}
.charc {
	width: 330px;
	height: 20px;
	background-color: #F7F9F8;
	padding: 15px;
	border-radius: 8px;
}
.ipt {
	margin-top: -27px;
	margin-left: 34px;
}
.ipt input{
    border: none;
    background-color: #F7F9F8;
    color: #000;
    font-size: 16px;
    font-weight: 400;
}

.charc_button {
	margin-left: 17px;
	margin-top: 12px;
}
.charc_button a{
    text-decoration: none;
    color: #fff;
    font-size: 14px;
    line-height: 21px;
    font-weight: 500;
    padding: 15px;
    border-radius: 5px;
    background-color: #009975;
}

/*MB wraper start*/

.MB_wraper_container{
    display: flex;
    justify-content: space-between;
}
.MB_child_wraper_container{
    flex: 0 0 27.5%;
    background-color: #EFF2F1;
    border-radius: 8px;
    padding: 30px;
    margin-top: 30px;

}

.mb_main_dv{
    display: flex;
    justify-content: space-between;
}
.mb a {
	color: #00926C;
	font-size: 16px;
	line-height: 24px;
	font-weight: 400;
	text-decoration: none;
	padding: 15px;
	border-radius: 50%;
	background: #E0F4EF;
    border: 1px solid #fff;
}

.mulking_div{
    display: flex;
}
.mulking_left h3{
    color: #111313;
    line-height: 28.8px;
    font-size: 24px;
    font-weight: 700;
}
.mulking_left p {
	color: #687371;
	font-size: 12px;
	line-height: 18px;
	font-weight: 500;
	margin-top: -20px;
}
.mulking_right p {
	color: #464255;
	font-size: 12px;
	line-height: 18px;
	font-weight: 400;
	margin-left: 16px;
	margin-top: 33px;
}

.account_div{
    display: flex;
}
.account_div p{
    color: #687371;
	font-size: 12px;
	line-height: 18px;
	font-weight: 500;
}
.account_div h5 {
	color: #111313;
	font-size: 14px;
	line-height: 21px;
	font-weight: 700;
	margin-top: -7px;
}
.account_right{
    margin-left: 50px;
}
.email{
    display: flex;
}
.email_logo a svg{
    color: #687371;
    font-size: 14px;
    line-height: 14px;
    font-weight: 400;
}
.email_text a{
    text-decoration: none;
    color: #687371;
    font-size: 14px;
    line-height: 21px;
    font-weight: 400;
    margin-left: 10px;
}




/*this my card center css start */
/*this my card center css start */
/*this my card center css start */
/*this my card center css start */

.main_dabit_card_dv{
    display: flex;
    justify-content: space-between;
}

.child_dabit_card_dv{
    flex: 0 0 25%;
}
.fourtha_dv{
    flex: 0 0 22%;
}

.secound{
    background-color: #0B2244;
}
.third{
    background-color: #18784A;
}

.fourth{
    background-color: #E7EAE9;
    border-radius: 8px;
    width: 100%;
    padding: 20px;
    text-align: center;
}
.fourth_blanck_card {
	margin-top: 22px;
}
.fourth_blanck_card a{
    color: #454D4B;
    font-size: 16px;
    line-height: 24px;
    font-weight: 500;
    text-decoration: none;
}


/*card_walat_blance_detalse_aria*/
.card_walat_blance_detalse_aria{
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
}
.child_card_walat_blance_detalse_aria_left{
    flex: 0 0 27%;
    background-color: #fff;
    border-radius: 8px;
    padding: 20px;
    height: 280px;
}

.child_card_walat_blance_detalse_aria_left  p{
    color: #687371;
    font-size: 12px;
    line-height: 18px;
    font-weight: 500;
    margin-top: -0;
}
.child_card_walat_blance_detalse_aria_left h3{
    color:#111313;
    font-size: 24px;
    line-height: 28.8px;
    font-weight: 700;
    margin-top: -5px;
}

.card_date_div{
    display: flex;
    justify-content: space-between;
}
.card_date_div p{
    color:#454D4B;
    font-size: 14px;
    line-height: 21px;
    font-weight: 400;
}
.card_date_div h4{
    color:#111313;
    font-size: 14px;
    line-height: 21px;
    font-weight: 700;
    margin-top: 0;
}
.statuse_div{
    display: flex;
    justify-content: space-between;
    background-color: #EFF2F1;
    padding: 8px 10px;
    border-radius: 8px;
}
.statuse_left p{
    color: #454D4B;
    font-size: 14px;
    line-height: 21px;
    font-weight: 400;
}

/*right*/
.child_card_walat_blance_detalse_aria_right{
    flex: 0 0 66%;
    background-color: #fff;
    border-radius: 8px;
    padding: 20px;

}

.main_charh_div{
    display: flex;
    justify-content: space-between;
    margin-top: 50px;
}
.child_chirh_div{
    flex: 0 0 83%;
    background-color: #F7F9F8;
    border-radius: 8px;
    padding: 15px;
}
.child_chirh_div2{
    flex: 0 0 9%;
    background-color: #F7F9F8;
    border-radius: 8px;
    padding: 15px;
}
.child_chirh_div input{
    border: none;
    color: #454D4B;
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
}
.child_chirh_div2 img{
    width: 20px;
}

/* this is my contacts css start*/
/* this is my contacts css start*/
/* this is my contacts css start*/
/* this is my contacts css start*/

/* busines information start */
.Business_information_main_div{
    display: flex;
    justify-content: space-between;
}

.child_business_information_div {
	flex: 0 0 40%;
	background-color: #fff;
	border-radius: 8px;
	height: 800px;
	margin-left: -48px;
}
.child_business_massages_div{
    flex: 0 0 58%;
	background-color: #fff;
	border-radius: 8px;
	padding: 30px 20px;
	height: 740px;
    position: relative;
}

.bisiness_div{
    display: flex;
    margin-top: 8px;
    padding: 10px 15px;
    position: relative;
}

.Business_div_logo a svg {
	color: #009975;
	font-size: 22px;
	line-height: 18px;
	font-weight: 800;
	padding: 10px;
	border-radius: 50%;
	background: #a6e2d4;
}
.Business_div_logo a svg:hover{
    background-color: #009975;
    color: #fff;
}
.Business_div_text{
    margin-left: 15px;
}
.Business_div_text h2{
    color: #111313;
    font-size: 18px;
	line-height: 21.6px;
	font-weight: 700;
    margin-top: 0;
}
.Business_div_text p{
    color: #636666;
    font-size: 14px;
	line-height: 21px;
	font-weight: 400;
    margin-top: -8px;
}
.bisiness_div:hover{
    background-color: #E0F4EF;

}

.after_div::after {
	position: absolute;
	content: "";
	width: 100%;
	height: 1px;
	background-color: #dad7d7;
	top: 94px;
	left: 0;
}

.bisiness_PP {
	margin-left: 17px;
	margin-top: 30px;
	margin-bottom: 20px;
}
.bisiness_PP p{
    color: #454D4B;
    font-size: 14px;
	line-height: 21px;
	font-weight: 500;
}

/* massage div ar kaj start*/

.masseg_div{
    display: flex;
    justify-content: space-between;
   
}

.massage_left h2{
    color: #111313;
    font-size: 18px;
	line-height: 21.6px;
	font-weight: 700;
    margin-top: 0;
}
.massage_right a img {
	margin-top: 0;
	margin-left: -28px;
}
.massage_right a{
    text-decoration: none;
}
.massage_right a p {
	color: #009975;
	font-size: 16px;
	line-height: 24px;
	font-weight: 500;
	margin-top: -29px;
}
.masseg_div::after {
	position: absolute;
	content: "";
	width: 100%;
	height: 1px;
	background-color: gray;
	left: 0;
	top: 75px;
}

/* child massage div2*/
.masseg_div2{
    margin-top: 20px;
}
.child_massage{
    display: flex;
    justify-content: space-between;
    position: relative;
}
.child_massage_left p{
    color:  #687371;
    font-size: 16px;
	line-height: 24px;
	font-weight: 500;
}
.child_massage_left h3 {
	color: #232626;
	font-size: 17px;
	line-height: 27px;
	font-weight: 500;
	width: 330px;
}


.child_massage_right a svg {
	color: gray;
	font-size: 21px;
	line-height: 24px;
	font-weight: 400;
	padding: 13px;
	border-radius: 50%;
	background: rgb(240, 239, 239);
	margin-top: 58px;
}


.child_massage::after {
	position: absolute;
	content: "";
	width: 100%;
	height: 1px;
	background-color: rgb(209, 205, 205);
	top: 126px;
}

.massage2{
    margin-top: 15px;
    position: relative;
}
.rifht2 a svg {
	color: gray;
	font-size: 21px;
	line-height: 24px;
	font-weight: 400;
	padding: 13px;
	border-radius: 50%;
	background: rgb(240, 239, 239);
	margin-top: 20px;
}

.massage2::after {
	position: absolute;
	content: "";
	width: 100%;
	height: 1px;
	background-color: rgb(209, 205, 205);
	top: 90px;
}




/* this my massages css start*/
/* this my massages css start*/
/* this my massages css start*/
/* this my massages css start*/

.main_inbox_div2{
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
}
.child_inbox_div{
    flex: 0 0 40%;
    background-color: #fff;
    border-radius: 8px;
    margin-left: -50px;
    height: 800px;
    border: 1px solid rgb(226, 226, 226);
}
.child_inbox_div2{
    flex: 0 0 62%;
    background-color: #fff;
    border-radius: 8px;
    height: 800px;
}

.inbox_heder{
    display: flex;
    justify-content: space-between;
    position: relative;
}
.child_inbox{
    display: flex;
}
.child_inbox a{
    text-decoration: none;
    
}
.child_inbox a h4{
    color: #232626;
    font-size: 16px;
    line-height: 24px;
    font-weight: 500;
    padding: 10px 20px;
}

.child_inbox svg{
    color: #687371;
    font-size: 18px;
    line-height: 18px;
    font-weight: 800;
    padding: 35px 0px;
}
.child_inbox2{
    display: flex;
}
.child_inbox_dot a img {
	width: 30px;
	margin-top: 30px;
	margin-left: -60px;
}
.child_inbox_plus a img {
	background-color: #009975;
	width: 30px;
	border-radius: 5px;
	margin-top: 29px;
	margin-right: 30px;
}
.inbox_heder::after{
    position: absolute;
    content: "";
    width: 100%;
    height: 1px;
    background-color: rgb(204, 202, 202);
    top: 85px;
}

/*charc*/
.charc2{
    margin-left: 30px;
    margin-top: -30px;
}
/* chat list*/
.main_chat_list{
    padding: 20px;
}
.chat_list{
    display: flex;
    justify-content: space-between;
    padding: 10px 20px;
    margin-top: 8px;
    border-radius: 8px;
}
.chat_list_left{
    display: flex;
}
.chat_list_picture img{
    width: 40px;
}
.chat_list_text {
	margin-top: -22px;
	margin-left: 20px;
}
.chat_list_text h4{
    color: #111313;
    font-size: 16px;
    line-height: 19.2px;
    font-weight: 700;
}
.chat_list_text p {
	color: #687371;
	font-size: 14px;
	line-height: 21px;
	font-weight: 400;
	margin-top: -18px;
}
.chat_list_right p {
	color: #687371;
	font-size: 14px;
	line-height: 21px;
	font-weight: 400;
	margin-top: 2px;
	margin-right: 24px;
}
.chant_list_right_mnbr {
	margin-top: -14px;
}
.chant_list_right_mnbr span {
	background-color: #009975;
	padding: 3px 6px;
	border-radius: 50%;
	color: #fff;
	font-size: 10px;
	font-weight: 400;
	margin-left: 46px;
	margin-top: 4px;
}
.chat_list:hover{
    background-color: #EFF2F1;
}
.chat_list2{
    background-color: #EFF2F1;
}

/*right ar kaj start*/
.parsonal_inbox_header{
    display: flex;
    justify-content: space-between;
    position: relative;
}
.parsonal_inbox_header_left{
    display: flex;
    padding: 25px;
}
.parsonal_inbox_header_left_pic img{
    width: 40px;
}
.parsonal_inbox_header_left_text{
    margin-left: 20px;
}
.parsonal_inbox_header_left_text h4 {
	color: #111313;
	font-size: 16px;
	line-height: 19.2px;
	font-weight: 700;
	margin-top: 0;
}
.parsonal_inbox_header_left_text p {
	color: #687371;
	font-size: 14px;
	line-height: 21px;
	font-weight: 400;
	margin-top: -18px;
}

.parsonal_inbox_header_right{
    display: flex;
    padding: 25px;
}
.parsonal_inbox_header_right_charc a img{
    margin-right: 20px;
}
.parsonal_inbox_header_right_star a svg {
	margin-right: 16px;
	background: #F7F9F8;
	padding: 8px;
	border-radius: 5px;
	color: #009975;
}
.parsonal_inbox_header::after{
    position: absolute;
    content: "";
    width: 100%;
    height: 1px;
    background-color: rgb(219, 218, 218);
    margin-top: 100px;
}

/*text start*/
.chat_massage_maid_div{
    padding: 25px;
}
.chat_massage_maid_div h4{
    color: #919E9B;
    font-size: 14px;
    line-height: 21px;
    font-weight: 400;
    text-align: center;
}
.me p{
    color: #111313;
    font-size: 14px;
    line-height: 21px;
    font-weight: 400;
    padding: 15px;
    background-color: #EFF2F1;
    display: inline-block;
    border-radius: 0px 8px 8px 8px;
}
.me span {
	color: #919E9B;
	font-size: 12px;
	line-height: 18px;
	font-weight: 500;
	padding: 15px;

}
.me2 {
	margin-top: -19px;
}

.abishik p {
	color: #fff;
	font-size: 14px;
	line-height: 21px;
	font-weight: 400;
	padding: 15px;
	background-color: #009975;
	border-radius: 8px 8px 0px 8px;
	width: 500px;
	margin-left: 256px;
}
.abishik h5 {
	color: #919E9B;
	font-size: 12px;
	line-height: 18px;
	font-weight: 500;
	margin-top: -34px;
	margin-left: 118px;
}
.masud22 p {
	color: #fff;
	font-size: 14px;
	line-height: 21px;
	font-weight: 400;
	padding: 15px;
	background-color: #009975;
	border-radius: 8px 8px 0px 8px;
	margin-left: 549px;
}

.masud22 h5 {
	color: #919E9B;
	font-size: 12px;
	line-height: 18px;
	font-weight: 500;
	margin-top: -34px;
	margin-left: 414px;
}

.input {
	margin-top: 124px;
}
.input input{
    width: 95%;
    padding: 15px;
    border-radius: 8px;
    font-size: 16px;
    color: rgb(168, 166, 166);
}


/* this is my satting css start*/
/* this is my satting css start*/
/* this is my satting css start*/
/* this is my satting css start*/
.setting_left_main_div{
    height: 1010px;
}
.main_satting_div {
	flex: 0 0 58%;
}
.satting_div {
	width: 100%;
	background-color: #fff;
	border-radius: 8px;
	padding: 10px 20px;
	height: 310px;
	margin-left: -50px;
    margin-top: 8px;
}

.satting_text_and_buttom{
    display: flex;
    justify-content: space-between;
}

.satting_div h3{
    color: #111313;
    font-size: 20px;
    line-height: 24px;
    font-weight: 700;
}
.satting_text h4{
    color: #454D4B;
    font-size: 16px;
    line-height: 19.2px;
    font-weight: 700;
}
.satting_text p {
	color: #687371;
	font-size: 14px;
	line-height: 21px;
	font-weight: 500;
	margin-top: -14px;
}
.sattong_button {
	margin-top: 25px;
}

